/daemon/secure-agentd
/bin/
*.db
*.db-*
*.jsonl

**/__pycache__/
docs/
.build/
# Added by code-review-graph
.code-review-graph/
.cursorrules
.claude/
GEMINI.md
CLAUDE.md
QODER.md
CODEBUDDY.md
.codebuddy/

